body {
    background-image: linear-gradient(rgb(14, 13, 24),  rgb(0, 0, 141), rgb(98, 1, 139));
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    margin: 0;
}

.form-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(244, 244, 244, 0.1); /* Un poco más visible pero semi-transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 249, 249);
    text-align: center;
    backdrop-filter: blur(10px); /* Agrega un efecto de desenfoque al fondo */
}

.boldonse-regular, 
.h2, 
.email, 
.contraseña, 
.registro {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}
button {
    width: 90%;
    text-align: center;
    padding: 6px;
    background-color: rgb(3, 3, 70);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(244, 244, 244, 0);
    box-shadow: 0 0 10px rgb(255, 249, 249);
    backdrop-filter: blur(10px);
    font-family: "Boldonse", system-ui;
    font-size: 24px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 0;
    
}

a{
    color: rgb(250, 249, 247);
}
.cuerpo {
    background-image: url(https://www.expoeducacion.com.py/archivos/banners/proyectos-destacados/responsive_3hex%C3%A1gonos.webp), url(https://www.expoeducacion.com.py/archivos/banners/proyectos-destacados/responsive_3hex%C3%A1gonos.webp);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 110% 120%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200px, 300px;
}


